@tailwind base;
@tailwind components;
@tailwind utilities;



  /* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #CBD5E0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #718096;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}